<!DOCTYPE html>
<html>
<head>
  <title>Alι_Aryαɴ</title>

  <meta http-equiv="Content-Type" const="text/html;charset=UTF-8"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="jquery.min.js"></script>
  <script type="text/javascript" src="popper.min.js"></script>
  <script type="text/javascript" src="bootstrap.min.js"></script>

  <script type="text/javascript" src="socket.io.js"></script>
  <script type="text/javascript" src="main.js"></script>
</head>
<body>
  <div class="container">
    <h2>Alι_Aryαɴ ᴡᴇʙsɪᴛᴇe</h2>
    <p>Working Fine!</p>
    <p>
    	<b>Now?</b> <!-- <a href="/api/">/api/</a> -->
    </p>
<img src="https://telegra.ph/file/b3e9e24c888e46deb233a.jpg"
     width="400" 
     height="500"/> alt="Why it didn't work">
    <div id="usage"></div>
  </div>
</body>
</html>
