<!DOCTYPE html>
<html>
<head>
  <title>Alι_Aryαɴ</title>
</head>
<body>
  <div class="container">
    <h2>Alι_Aryαɴ ᴡᴇʙsɪᴛᴇe</h2>
    <p>Working Fine!</p>
    <p>
    	<b>Now?</b>
    </p>
<img src="https://telegra.ph/file/b3e9e24c888e46deb233a.jpg"
     width="350" 
     height="350" alt="Why it didn't work"/>
    <div id="usage"></div>
  </div>
</body>
</html>
